:root {
  --bg: #ffffff;
  --bg-header: #f0f0f0;
  --header-border: #e0e0e0;
  --text: #1a1a1a;
  --bg-clue: #35a8d9;
  --bg-clue-correct: #2ecc71;
  --clue-border: #333333;
}

[data-theme='dark'] {
  --bg: #1a1a1a;
  --bg-header: #212121;
  --header-border: #333333;
  --text: #ffffff;
  --bg-clue: #000091;
  --bg-clue-correct: #009246;
  --clue-border: #e0e0e0;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
