.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
  border: 1px solid var(--header-border);
  border-radius: 16px;
  cursor: pointer;
}

.delete {
  background-color: #ef3240;
}

.reload {
  background-color: #007bff;
}

.submit {
  background-color: #2ecc71;
}
