/* :root {
  --bg: #ffffff;
  --bg-header: #f0f0f0;
  --header-border: #e0e0e0;
  --text: #1a1a1a;
}

[data-theme='dark'] {
  --bg: #1a1a1a;
  --bg-header: #212121;
  --header-border: #333333;
  --text: #ffffff;
} */

.personalize-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  color: var(--text);
  padding: 0;
}

.personalize-game-options-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  max-width: 960px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
