:root {
  --bg: #ffffff;
  --bg-header: #f0f0f0;
  --header-border: #e0e0e0;
  --text: #1a1a1a;
}

[data-theme='dark'] {
  --bg: #1a1a1a;
  --bg-header: #212121;
  --header-border: #333333;
  --text: #ffffff;
}

.search-bar {
  position: relative;
  width: 400px;
}

.search-bar input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--header-border);
  border-radius: 16px 16px 0 0;
  background-color: var(--bg-header);
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  outline: none;
}

.suggestions-list {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--bg-header);
  border: 1px solid var(--header-border);
  border-radius: 0 0 16px 16px;
  border-top: none;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.suggestions-list li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-bottom: 0.25px solid var(--header-border);
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: var(--header-border);
}

.suggestion-name {
  width: 70%;
  font-size: 0.9rem;
  color: var(--text);
}

.suggestion-code-commune {
  width: 30%;
  font-size: 0.6rem;
  color: var(--text);
  text-align: right;
}
